html, body {
    height: 100%;
    margin: 0;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ارتفاع حداقل کل صفحه */
}

.blog-list {
    flex: 1; /* فضای باقی‌مانده بین هدر و فوتر را پر می‌کند */
}

footer {
    background: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
}
.list-group-item {
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 15px;
}
.list-group-item:hover {
    background-color: #e9ecef;
}
.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
}