{% extends '_base.html' %}

{% block title %}
	دسته بندی ها
{% endblock %}

{% block content %}
	{% for category in categories %}
		<div class="item mb-5">
            <div class="media">
                <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ category.thumbnail.url }}" alt="image">
                <div class="media-body">
                    <h3 class="title mb-1"><a href="#">{{ category.title }}</a></h3>
                    <a class="more-link" href="#">Read more &rarr;</a>
                </div><!--//media-body-->
            </div><!--//media-->
        </div><!--//item-->
	{% endfor %}
{% endblock %}